/* RESETS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body, main {
  min-height: 100vh;
}

/* GLOBAL STYLES */
#dark {
  background-color: #242424;
}

#light {
  background-color: bisque;
}

#dark .switch label {
  font-family: Arial, Helvetica, sans-serif;
  color: #8cd1ff;
}

#light .switch label {
  font-family: Arial, Helvetica, sans-serif;
  color: #242424;
}

.brand-logo:hover {
  filter: drop-shadow(0 0 2em bisque);
}

a {
  color: bisque;
}

a:hover {
  color: #7ed957;;
}

.active {
  color: #7ed957 !important;
}

h1 {
  font-size: 48px;
  color: #7ed957;
}

h2 {
  font-size: 40px;
  color: bisque;
}

h3 {
  font-size: 32px;
  color: aliceblue;
}

h4 {
  font-size: 26px;
  color: aliceblue;
}

h5 {
  font-size: 20px;
  color: aliceblue;
}

p {
  font-size: 16px;
  color: aliceblue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7ed957;
  color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #7ed957;
  background-color: #242424;
  color: #7ed957;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* HEADER/BRAND STYLES */
header {
  padding: 20px 3%;
}

.custom-toggler.navbar-toggler {
  border-color: bisque;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='bisque' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
  );
}

.logo-wrapper img {
  height: 60px;
  cursor: pointer;
}

header nav a {
  justify-content: space-between;
  padding-left: 25px;
  color: bisque;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header nav a:hover {
  color: #7ed957;
}

/* ABOUT ME PAGE CUSTOM STYLES */
#profile-image {
  width: 50%; 
}

/* WORK PAGE CUSTOM STYLES */
.card {
  background-color: bisque;
  /* color: #555dff; */
  color: #242424;
}

/* .card-img-top {
  height: 370px;
} */

.card-body p {
  color: #242424;
}

.card-body h5 {
  color: #242424;
}

/* .image-size-container {
  height: 500px;

} */

.card-button {
  border-radius: 8px;
  border: 1px solid #242424;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7ed957;
  color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
.card-button:hover {
  border-color: #7ed957;
  background-color: #242424;
  color: #7ed957;
}
.card-button:focus,
.card-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* CONTACT ME PAGE STYLES */
#contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 100px;
}

#contact-me form {
  display: inline-block;
  padding: 1em;
  border: 1px solid bisque;
  border-radius: 1em;
  text-align: center;
}

#contact-me form .button {
  padding-top: 20px;
}

#contact-me ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#contact-me form label {
  display: flex;
  flex-direction: column;
  min-width: 90px;
  text-align: left;
  color: bisque;
}

#contact-me form input, textarea {
  font: 1em sans-serif;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid bisque;
  background-color: #242424;
  color: #7ed957;
}

#contact-me form textarea {
  padding: 50px;
}

/* RESUME PAGE CUSTOM STYLES */
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

#download-arrow {
  height: 500px;
  padding: 1.5em;
  animation: slide-in 3000ms;
  animation-iteration-count: 1;
  filter: drop-shadow(0 0 2em bisque);
}

/* FOOTER STYLES */
footer {
  padding: 20px 3%;

}

footer .brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: bisque;
}

a .footer-logo-item {
  height: 30px;
}


/* RESPONSIVE / MOBILE STYLES */
@media screen and (min-width: 768px) {

}